In [279]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [280]:
df = pd.read_csv("F:/Pandas/bank+marketing/bank-additional/bank-additional/bank-additional.csv", sep=";")
df1=df

In [281]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no

In [282]:
df.shape

(4119, 21)

In [283]:
df.dtypes

age                 int64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration            int64
campaign            int64
pdays               int64
previous            int64
poutcome           object
emp.var.rate      float64
cons.price.idx    float64
cons.conf.idx     float64
euribor3m         float64
nr.employed       float64
y                  object
dtype: object

In [284]:
len(df)

4119

In [285]:
df.head().T

,0,1,2,3,4
age,30,39,25,38,47
job,blue-collar,services,services,services,admin.
marital,married,single,married,married,married
education,basic.9y,high.school,high.school,basic.9y,university.degree
default,no,no,no,no,no
housing,yes,no,yes,unknown,yes
loan,no,no,no,unknown,no
contact,cellular,telephone,telephone,telephone,cellular
month,may,may,jun,jun,nov
day_of_week,fri,fri,wed,fri,mon
duration,487,346,227,17,58
campaign,2,4,1,3,1
pdays,999,999,999,999,999
previous,0,0,0,0,0
poutcome,nonexistent,nonexistent,nonexistent,nonexistent,nonexistent
emp.var.rate,-1.8,1.1,1.4,1.4,-0.1
cons.price.idx,92.893,93.994,94.465,94.465,93.2
cons.conf.idx,-46.2,-36.4,-41.8,-41.8,-42.0
euribor3m,1.313,4.855,4.962,4.959,4.191
nr.employed,5099.1,5191.0,5228.1,5228.1,5195.8
y,no,no,no,no,no

In [286]:
needed_columns = ['age','job','marital','education',
'balance',
'housing',
'contact',
'day',
'month',
'duration',
'campaign',
'pdays',
'previous',
'poutcome']

In [287]:
needed_columns

['age',
 'job',
 'marital',
 'education',
 'balance',
 'housing',
 'contact',
 'day',
 'month',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'poutcome']

In [288]:
df.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [289]:
df.education.unique()

array(['basic.9y', 'high.school', 'university.degree',
       'professional.course', 'basic.6y', 'basic.4y', 'unknown',
       'illiterate'], dtype=object)

In [290]:
mode_education = df['education'].mode()
mode_education

0    university.degree
Name: education, dtype: object

In [291]:
df.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000
mean,40.113620,256.788055,2.537266,960.422190,0.190337,0.084972,93.579704,-40.499102,3.621356,5166.481695
std,10.313362,254.703736,2.568159,191.922786,0.541788,1.563114,0.579349,4.594578,1.733591,73.667904
min,18.000000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.635000,4963.600000
25%,32.000000,103.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.334000,5099.100000
50%,38.000000,181.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.000000,317.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,88.000000,3643.000000,35.000000,999.000000,6.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

In [292]:
numerical = df.select_dtypes(include=['number'])
numerical

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,30,487,2,999,0,-1.8,92.893,-46.2,1.313,5099.1
1,39,346,4,999,0,1.1,93.994,-36.4,4.855,5191.0
2,25,227,1,999,0,1.4,94.465,-41.8,4.962,5228.1
3,38,17,3,999,0,1.4,94.465,-41.8,4.959,5228.1
4,47,58,1,999,0,-0.1,93.200,-42.0,4.191,5195.8
...,...,...,...,...,...,...,...,...,...,...
4114,30,53,1,999,0,1.4,93.918,-42.7,4.958,5228.1
4115,39,219,1,999,0,1.4,93.918,-42.7,4.959,5228.1
4116,27,64,2,999,1,-1.8,92.893,-46.2,1.354,5099.1
4117,58,528,1,999,0,1.4,93.444,-36.1,4.966,5228.1
4118,34,175,1,999,0,-0.1,93.200,-42.0,4.120,5195.8

In [293]:
correlation_matrix = numerical.corr()

In [294]:
correlation_matrix

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
age,1.000000,0.041299,-0.014169,-0.043425,0.050931,-0.019192,-0.000482,0.098135,-0.015033,-0.041936
duration,0.041299,1.000000,-0.085348,-0.046998,0.025724,-0.028848,0.016672,-0.034745,-0.032329,-0.044218
campaign,-0.014169,-0.085348,1.000000,0.058742,-0.091490,0.176079,0.145021,0.007882,0.159435,0.161037
pdays,-0.043425,-0.046998,0.058742,1.000000,-0.587941,0.270684,0.058472,-0.092090,0.301478,0.381983
previous,0.050931,0.025724,-0.091490,-0.587941,1.000000,-0.415238,-0.164922,-0.051420,-0.458851,-0.514853
emp.var.rate,-0.019192,-0.028848,0.176079,0.270684,-0.415238,1.000000,0.755155,0.195022,0.970308,0.897173
cons.price.idx,-0.000482,0.016672,0.145021,0.058472,-0.164922,0.755155,1.000000,0.045835,0.657159,0.472560
cons.conf.idx,0.098135,-0.034745,0.007882,-0.092090,-0.051420,0.195022,0.045835,1.000000,0.276595,0.107054
euribor3m,-0.015033,-0.032329,0.159435,0.301478,-0.458851,0.970308,0.657159,0.276595,1.000000,0.942589
nr.employed,-0.041936,-0.044218,0.161037,0.381983,-0.514853,0.897173,0.472560,0.107054,0.942589,1.000000

In [295]:
sorted_correlation = correlation_matrix.unstack().sort_values(ascending = True)
sorted_correlation[sorted_correlation !=1].head()

previous     pdays         -0.587941
pdays        previous      -0.587941
previous     nr.employed   -0.514853
nr.employed  previous      -0.514853
euribor3m    previous      -0.458851
dtype: float64

In [296]:

df['pdays'].corr(df['previous'])

-0.5879411425842276

In [297]:
df.dtypes

age                 int64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration            int64
campaign            int64
pdays               int64
previous            int64
poutcome           object
emp.var.rate      float64
cons.price.idx    float64
cons.conf.idx     float64
euribor3m         float64
nr.employed       float64
y                  object
dtype: object

In [298]:
df.y= (df.y == 'yes').astype(int)

In [299]:
df.y.head()

0    0
1    0
2    0
3    0
4    0
Name: y, dtype: int32

In [300]:
target=df.y
target.head()

0    0
1    0
2    0
3    0
4    0
Name: y, dtype: int32

In [301]:
from sklearn.model_selection import train_test_split
df_full_train, df_test= train_test_split(df, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.33, random_state =42)
y_train = df_train.y
y_val = df_val.y

In [302]:
df_full_train.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [303]:
del df['y']

In [304]:
df1.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,487,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1
1,39,services,single,high.school,no,no,no,telephone,may,fri,346,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,227,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,17,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,58,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8

In [305]:
del df_train['y']
del df_val['y']

In [306]:
df.dtypes

age                 int64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration            int64
campaign            int64
pdays               int64
previous            int64
poutcome           object
emp.var.rate      float64
cons.price.idx    float64
cons.conf.idx     float64
euribor3m         float64
nr.employed       float64
dtype: object

In [307]:
df.head(10)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,487,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1
1,39,services,single,high.school,no,no,no,telephone,may,fri,346,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,227,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,17,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,58,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8
5,32,services,single,university.degree,no,no,no,cellular,sep,thu,128,3,999,2,failure,-1.1,94.199,-37.5,0.884,4963.6
6,32,admin.,single,university.degree,no,yes,no,cellular,sep,mon,290,4,999,0,nonexistent,-1.1,94.199,-37.5,0.879,4963.6
7,41,entrepreneur,married,university.degree,unknown,yes,no,cellular,nov,mon,44,2,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8
8,31,services,divorced,professional.course,no,no,no,cellular,nov,tue,68,1,999,1,failure,-0.1,93.200,-42.0,4.153,5195.8
9,35,blue-collar,married,basic.9y,unknown,no,no,telephone,may,thu,170,1,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0

In [308]:
df['job'].nunique()

12

In [309]:
df['marital'].nunique()

4

In [310]:
df['housing'].nunique()
df['contact'].nunique()

2

In [311]:
df['day_of_week'].nunique()

5

In [312]:
df['duration'].nunique()

828

In [313]:
df['poutcome'].nunique()

3

In [314]:
categorical = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'poutcome']

In [315]:
numerical = ['age', 'duration', 'campaign', 'pdays', 'previous']

In [376]:
from sklearn.metrics import mutual_info_score
def calculate_mi(series):
    return mutual_info_score(series, df_full_train.y)

df_mi = df_full_train[categorical].apply(calculate_mi)
df_mi = df_mi.sort_values(ascending=False).to_frame(name='MI')

df_mi

                   MI
poutcome     0.033915
month        0.021257
contact      0.012044
job          0.009087
education    0.003149
default      0.002785
marital      0.001605
housing      0.000544
loan         0.000493
day_of_week  0.000131

In [378]:
df_full_train.y

324     0
2350    0
1391    0
468     0
561     0
       ..
3444    0
466     0
3092    0
3772    0
860     0
Name: y, Length: 3295, dtype: int32

In [388]:
df_train['y']

KeyError: 'y'

In [390]:
df_train_encoded = pd.get_dummies(df_train, columns=categorical, drop_first=True)

In [392]:
df_val_encoded = pd.get_dummies(df_val, columns=categorical, drop_first=True)

In [394]:
df_val_encoded = df_val_encoded.reindex(columns=df_train_encoded.columns, fill_value=0)

In [396]:
df_train_encoded.head()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,...,month_may,month_nov,month_oct,month_sep,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_nonexistent,poutcome_success
560,41,206,1,999,0,1.4,93.444,-36.1,4.965,5228.1,...,False,False,False,False,False,False,False,True,True,False
2581,33,165,1,999,1,-1.8,92.893,-46.2,1.266,5099.1,...,True,False,False,False,False,False,True,False,False,False
2641,24,453,1,999,0,1.4,94.465,-41.8,4.962,5228.1,...,False,False,False,False,False,False,False,True,True,False
2876,35,112,1,999,0,-0.1,93.200,-42.0,4.120,5195.8,...,False,True,False,False,False,False,False,True,True,False
2759,28,278,2,999,0,1.4,93.918,-42.7,4.957,5228.1,...,False,False,False,False,False,False,False,False,True,False

In [398]:
df_train_encoded = df_train_encoded.astype(int)
df_val_encoded = df_val_encoded.astype(int)

In [400]:
df_train_encoded

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,...,month_may,month_nov,month_oct,month_sep,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_nonexistent,poutcome_success
560,41,206,1,999,0,1,93,-36,4,5228,...,0,0,0,0,0,0,0,1,1,0
2581,33,165,1,999,1,-1,92,-46,1,5099,...,1,0,0,0,0,0,1,0,0,0
2641,24,453,1,999,0,1,94,-41,4,5228,...,0,0,0,0,0,0,0,1,1,0
2876,35,112,1,999,0,0,93,-42,4,5195,...,0,1,0,0,0,0,0,1,1,0
2759,28,278,2,999,0,1,93,-42,4,5228,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2547,34,369,2,999,1,-1,92,-46,1,5099,...,1,0,0,0,0,0,1,0,0,0
1088,39,261,1,3,1,-3,92,-29,0,5017,...,0,0,0,1,0,0,1,0,0,1
939,34,423,1,999,0,1,94,-41,4,5228,...,0,0,0,0,0,0,1,0,1,0
1565,38,195,2,999,0,-2,92,-33,0,5076,...,0,0,0,0,1,0,0,0,1,0
1162,56,177,5,999,0,1,93,-42,4,5228,...,0,0,0,0,0,0,0,0,1,0

In [402]:
print(set(df_train_encoded.columns) - set(df_val_encoded.columns))
print(set(df_val_encoded.columns) - set(df_train_encoded.columns))

set()
set()

In [404]:
print((df_train_encoded.columns == df_val_encoded.columns).all())

True

In [406]:
df_test_encoded = pd.get_dummies(df_test, columns=categorical, drop_first=True)

In [408]:
df_test_encoded = df_test_encoded.reindex(columns=df_train_encoded.columns, fill_value=0)

In [410]:
df_test_encoded = df_test_encoded.astype(int)

In [412]:
df_test_encoded.head().T

                               889   2669  2707  2258  2514
age                              48    35    56    29    62
duration                        544    98   212   247   163
campaign                          1     1     1     2     2
pdays                           999   999   999   999   999
previous                          0     0     1     0     0
emp.var.rate                     -1     1     0    -2    -1
cons.price.idx                   94    94    93    92    92
cons.conf.idx                   -38   -41   -42   -40   -50
euribor3m                         0     4     4     1     1
nr.employed                    4991  5228  5195  5076  5099
job_blue-collar                   0     0     0     0     0
job_entrepreneur                  0     0     0     0     0
job_housemaid                     0     0     1     0     0
job_management                    0     0     0     0     0
job_retired                       0     0     0     0     0
job_self-employed                 0     0     0     0     0
job_services                      0     1     0     0     0
job_student                       0     0     0     0     0
job_technician                    0     0     0     0     0
job_unemployed                    0     0     0     0     0
job_unknown                       0     0     0     0     0
marital_married                   0     1     0     0     1
marital_single                    0     0     0     1     0
marital_unknown                   0     0     0     0     0
education_basic.6y                0     0     0     0     0
education_basic.9y                0     1     0     0     0
education_high.school             0     0     0     0     1
education_illiterate              0     0     0     0     0
education_professional.course     0     0     0     0     0
education_university.degree       1     0     0     1     0
education_unknown                 0     0     0     0     0
default_unknown                   0     0     0     0     0
housing_unknown                   0     0     0     0     0
housing_yes                       0     0     1     0     0
loan_unknown                      0     0     0     0     0
loan_yes                          0     1     0     0     0
contact_telephone                 0     1     0     1     1
month_aug                         1     0     0     0     0
month_dec                         0     0     0     0     0
month_jul                         0     0     0     0     0
month_jun                         0     1     0     1     0
month_mar                         0     0     0     0     1
month_may                         0     0     0     0     0
month_nov                         0     0     1     0     0
month_oct                         0     0     0     0     0
month_sep                         0     0     0     0     0
day_of_week_mon                   0     0     0     0     1
day_of_week_thu                   1     1     1     1     0
day_of_week_tue                   0     0     0     0     0
day_of_week_wed                   0     0     0     0     0
poutcome_nonexistent              1     1     0     1     1
poutcome_success                  0     0     0     0     0

In [416]:
from sklearn.linear_model import LogisticRegression
y_train_encoded = df_full_train.y

In [420]:
model = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)

In [424]:
print(set(df_test_encoded.columns) - set(df_val_encoded.columns))

set()

In [426]:
df_train_encoded.shape

(2207, 52)

In [428]:
df_test_encoded.shape

(824, 52)

In [432]:
y_train_encoded.shape

(3295,)

In [436]:
from sklearn.model_selection import train_test_split

df_train, df_val, y_train, y_val = train_test_split(df1, target, test_size=0.2, random_state=42)
print(df_train_encoded.shape[0])

2207

In [438]:
df_train = df_train.fillna('missing')

In [440]:
df_train_encoded = pd.get_dummies(df_train, columns=categorical, drop_first=True)
df_val_encoded = pd.get_dummies(df_val, columns=categorical, drop_first=True)
df_val_encoded = df_val_encoded.reindex(columns=df_train_encoded.columns, fill_value=0)

In [442]:
df_train_encoded = df_train_encoded.astype(int)
df_val_encoded = df_val_encoded.astype(int)

In [444]:
print(set(df_train_encoded.columns) - set(df_val_encoded.columns))
print(set(df_val_encoded.columns) - set(df_train_encoded.columns))

set()
set()

In [448]:
print(df_train_encoded.index.equals(y_train_encoded.index))

True

In [450]:
print(df_train_encoded.shape[0])
print(y_train_encoded.shape[0])

3295
3295

In [452]:
model.fit(df_train_encoded, y_train_encoded)

LogisticRegression(max_iter=1000, random_state=42, solver='liblinear')

In [460]:
y_pred = model.predict_proba(df_val_encoded)
y_pred

array([[0.21638998, 0.78361002],
       [0.98967637, 0.01032363],
       [0.97988782, 0.02011218],
       ...,
       [0.98861027, 0.01138973],
       [0.99057612, 0.00942388],
       [0.99002101, 0.00997899]])

In [478]:
y_pred_train = model.predict(df_train_encoded)
y_pred_val = model.predict(df_val_encoded)
print("Training Accuracy:", accuracy_score(y_train, y_pred_train))  # Or appropriate metric
# print("Validation Accuracy:", accuracy_score(y_val, y_pred_val))

Training Accuracy: 0.9180576631259484

In [480]:
y_val = df_val['y']
print("Validation Accuracy:", accuracy_score(y_val, y_pred_val))

KeyError: 'y'

In [482]:
y_test = df_test['y']

In [490]:
y_pred_test = model.predict(df_test_encoded)
print("Testing Accuracy:",accuracy_score(y_test, y_pred_test))

Testing Accuracy: 0.9016990291262136

In [496]:
from sklearn.metrics import confusion_matrix , classification_report
y_pred_train = model.predict(df_train_encoded)
print(confusion_matrix(y_train_encoded, y_pred_train))
print(classification_report(y_train_encoded, y_pred_train))

[[2866   70]
 [ 200  159]]
              precision    recall  f1-score   support

           0       0.93      0.98      0.96      2936
           1       0.69      0.44      0.54       359

    accuracy                           0.92      3295
   macro avg       0.81      0.71      0.75      3295
weighted avg       0.91      0.92      0.91      3295